body{
    margin: 0;
    padding: 0;
}
.hdr {
    background: #515b78;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.frst-hdr {
    padding: 6px 0px;
}
a {
    text-decoration: none;
}
.tp-lt-hdr a:hover{
    background-color: #dca44d;
} 
.tp-lt-hdr a {
    margin-left: 40px;
}
img.hdr-img-icon {
    width: 16px;
    height: 12px;
}
.tp-rt-hdr {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
}
.tp-rt-hdr img {
    background-color: #b8bcc8;
}
.tp-rt-hdr a:hover{
    color: #ffffff;
}
.tp-rt-hdr a {
    color: #b8bcc8;
    margin-left: 3px;
}
.tp-rt-hdr button {
    background: #dca44d;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 5px;
    border-style: none;
    margin-left: 15px;
}
.lt-main-header {
    margin-left: 15px;
}
.lt-main-header h2 {
    color: #dca44d;
}.rt-main-header {
    margin-right: 15px;
}
.rt-main-header a {
    padding-left: 20px;
}
.banner {
    background-image: url(https://www.bakshiandassociates.com/images/banner.jpg);
    height: 550px;
}
.banner div {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 550px;
    justify-content: center;
}
.banner h2 {
    font-size: 60px;
    margin: 0;
}
.banner p {
    font-size: large;
}
.banner button {
    width: 110px;
    height: 40px;
    background-color: #d6e0f5;
    border-style: none;
    opacity: 0.5;
    text-transform: capitalize;
}
.heading {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: #dca44d;
}
.lt-about-us {
    padding: 0 12px;
}
.lt-about-us h4 {
    font-size: 25px;
    margin-top: 0px;
}
.rt-about-us {
    padding: 0px 12px;
}
.our-services {
    background-color: #282828;
}
.our-service-wrap {
    flex-wrap: wrap;
    background-color: #444444;
}
.width-bg {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.image-icon {
    width: 35px;
    height: 25px;
}
.our-team {
    background: url(https://www.bakshiandassociates.com/images/pattern.png);
}
h3.mdm-heading {
    display: flex;
    justify-content: center;
}
.our-team-content {
    background: #f2f2f2;
}
.our-team-content p {
    display: flex;
    justify-content: center;
}
.call-us {
    background: #515b78;
}
h3.header {
    font-size: 35px;
    color: #f1f1f1;
    margin-left: 100px;
}
.call-us button {
    margin-right: 100px;
    width: 110px;
    height: 50px;
    background: #515b78;
    border-color: #dca44d;
    border-style: groove;
    color: #f1f1f1;
}
.feedback-container {
    flex-direction: column;
}
.feedback-container img {
    border-radius: 50%;
}
.feedback-container p {
    width: 361px;
    margin: 0 0 10px;
}
.feedback-container h3 {
    margin: 0 0 10px;
}
.conclusion {
    background: url(https://www.bakshiandassociates.com/images/satisfied-wrapper-bg.jpg);
}
.contact-us-left{
    width: 50%;
}
.contact-us-right{
    width: 50%;
}