body{
    margin: 0;
}
.tab a:hover{
    color: #dca44d;
}
.header{
    background-color: #515b78;
}
.container-hdr{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    max-width: 1280px;
}
.icon-img{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.icon-img img {
    width: 43px;
    height: 26px;
    margin-left: 10px;
}
.mail {
       width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail img{
    width: 15px;
    height: 14px;
    justify-content: center;
    background-color: #b8bcc8;
}
.mail a {
        font-size: 18px;
        margin-left: 5px;
        color:#b8bcc8;
}
.mail button {
    margin-left: 10px;
    font-size: 15px;
    background-color: #dca44d;
    padding: 6px 18px;
    border-radius: 5px;
    border-style: none;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container h2 {
    width: 40%;
    text-align: center;
}
.tab{
    width: 60%;
    color: #666;
}
.tab a {
    margin-left: 30px;
    font-size: 20px;
}
.banner-container {
    background-image: url(https://www.bakshiandassociates.com/images/banner.jpg);
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}
.banner-container h2 {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.banner-container p {
    font-size: 19px;
}
.banner-container button {
    width: 115px;
    height: 40px;
    background-color: #515b78;
    color: #ffffff;
}
.container1 h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0 0 50px;
}
.abts {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.abt-cnt {
    width: 50%;
}
.abt-cnt h4 {
    font-size: 22px;
    margin: 0 0 8px;
}
.abt-cnt.para {
    margin: 0 0 17px;
}
.abt-cnt ul li {
    margin-bottom: 10px;
}
.container2{
    background-color: #282828;
    padding: 10px 0px;
}
.container2 h2{
    display: flex;
    justify-content: center;
    color: #dca44d;
    font-size: 36px;
}
.service{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}
.width-bg{
    width: 33%;
}
.service div{
    background-color: #666666;
}
.service img{
    width: 25px;
}
.service h3 {
    display: flex;
    justify-content: center;
}
.container2 {
    background-color: #282828;
}
.service {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.service div{
    background-color: #666666;
}
.service img{
    width: 25px;
}
.service h3 {
    display: flex;
    justify-content: center;
}
.container3 h2 {
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: #dca44d;
    font-size: 36px;
}
.team {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.team div {
    background: #f1f1f1;
}
.team h3 {
    display: flex;
    justify-content: center;
}
.team p {
    display: flex;
    justify-content: center;
}
.team div {
    background-color: #f1f1f1;
}
.container4 {
    background-color: #515b78;
}
.consult{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
    padding: 35px 0px;
}
.container4 h3 {
    margin: 0;
    font-size: 33px;
    padding: 0;
}
.container4 button {
    background-color: #515b78;
    border-color: #dca44d;
    width: 106px;
    color: #ffffff;
}
.container5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.container5 h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #dca44d;
}
.container5 img {
    border-radius: 50%;
    width: 15%;
    display: flex;
    align-self: center;
}
.container5 p {
    width: 500px;
    display: flex;
    align-self: center;
}
.container5 h3 {
    width: 154px;
    display: flex;
    align-self: center;
}
.container6 {
    display: flex;
    background: url(https://www.bakshiandassociates.com/images/satisfied-wrapper-bg.jpg);
    justify-content: center;
}
.container6 img {
    width: 30px;
}
.Container7 {
    display: flex;
    justify-content: space-between;
}